<div id="<%= dom_id coaching %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= coaching.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= coaching.description %>
  </p>

</div>
