<div class="mx-auto md:w-2/3 max-w-7xl">
  <h1 class="font-bold text-4xl">New Article</h1>

  <%= render partial: "form", locals: { blog: @blog, blog_categories: @blog_categories } %>

  <%= link_to "Back to blogs", blogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
