<% content_for :meta_title, "Contact Us - SCB Executive Coaching" %>
<% content_for :meta_description, "Contact SCB Executive Coaching" %>

<div class="md:flex md:items-center justify-between md:justify-between min-w-0 flex-1 border-b-2 pb-2 mb-4">
  <h2 class="flex text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-3xl sm:tracking-tight">There was an error</h2>
</div>

<div class="flex min-full flex-col py-12">

  <p>We were unable to process your request.</p>

</div>