<% content_for :meta_title, "Contact Us - SCB Executive Coaching" %>
<% content_for :meta_description, "Contact SCB Executive Coaching" %>

<div class="flex flex-col w-2/3 mx-auto h-screen text-center py-16">

  <h2 class="text-4xl font-bold mb-3">Message Sent!</h2>
  <p>Thank you for your message. We'll get back to you as soon as possible.</p>

</div>