<section id="contact" class="bg-scb-black text-scb-white relative">
  <div class="container mx-auto max-w-7xl py-16">

    <div id="socials" class="w-2/3 mx-auto text-center">
      <h3 class="text-3xl font-poppins font-bold mb-5">Our social channels</h3>

      <div id="socialcons" class="flex flex-row justify-center">

        <!-- linkedin -->
        <a href="https://rwmbxa.clicks.mlsend.com/tl/cl/eyJ2Ijoie1wiYVwiOjEwMjM2NDAsXCJsXCI6MTQxNzk4NjI2MDQzMTAyNDAxLFwiclwiOjE0MTkwMjg4MDUxMTYyNDk2NH0iLCJzIjoiMTZhMzcyMGMyMGI5MTljNSJ9" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
            <rect width="48" height="48" fill="#111111" />
            <path fill="white" d="M14.5 19h5v15h-5zM24 19h4.8v2.2h.1c.7-1.3 2.4-2.8 4.9-2.8 5.1 0 6.1 3.3 6.1 7.5V34h-5v-7.4c0-1.8-.5-3.6-2.6-3.6s-3 1.9-3 3.8V34h-5zM17 14c0 1.4-1.1 2.5-2.5 2.5S12 15.4 12 14s1.1-2.5 2.5-2.5S17 12.6 17 14z"/>
          </svg>
        </a>

        <!-- youtube -->
        <a href="https://rwmbxa.clicks.mlsend.com/tl/cl/eyJ2Ijoie1wiYVwiOjEwMjM2NDAsXCJsXCI6MTQxNzk4NjI2MDQ2MjQ4MTMwLFwiclwiOjE0MTkwMjg4MDUxMTYyNDk2NH0iLCJzIjoiNDNkNDY2NmYyNGIwNDA1OCJ9" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
            <rect width="48" height="48" fill="#111111" />
            <path fill="white" d="M34.5 15.5c-.3-1.1-1.2-2-2.4-2.3C29.5 12.5 24 12.5 24 12.5s-5.5 0-8.1.7c-1.2.3-2.1 1.2-2.4 2.3-.7 2.6-.7 8-.7 8s0 5.4.7 8c.3 1.1 1.2 2 2.4 2.3C18.5 35.5 24 35.5 24 35.5s5.5 0 8.1-.7c1.2-.3 2.1-1.2 2.4-2.3.7-2.6.7-8 .7-8s0-5.4-.7-8zM20.5 27V19l8 4-8 4z"/>
          </svg>
        </a>


        <!-- facebook -->
        <a href="https://rwmbxa.clicks.mlsend.com/tl/cl/eyJ2Ijoie1wiYVwiOjEwMjM2NDAsXCJsXCI6MTQxNzk4NjI2MDUwNDQyNDM1LFwiclwiOjE0MTkwMjg4MDUxMTYyNDk2NH0iLCJzIjoiM2Q5NmYzOGE2YjEyY2RlMyJ9" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
            <rect width="48" height="48" fill="#111111" />
            <path fill="white" d="M29 15h-4c-1.1 0-2 .9-2 2v3h6v4h-6v10h-5V24h-4v-4h4v-3c0-3.3 2.7-6 6-6h4v4z"/>
          </svg>
        </a>

      </div>
    </div>

    <div class="flex flex-row justify-between text-center py-16">

      <div>
        <h3 class="text-3xl font-poppins font-bold mb-5">Contact Us</h3>
        <p class="mb-5">Contact our team for questions or information</p>

        <a href="#intros" class="absolute right-2 bottom-2"><button class="bg-scb-gray text-scb-black rounded-full  p-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
          </svg>
        </button>
        </a>

        <a href="mailto:stuart@scbexecutivecoaching.com" class="mb-5">stuart@scbexecutivecoaching.com</a>

        <p class="mb-5">07724 353503</p>

        <p>
          <span class="block">SCB Executive Coaching Ltd</span>
          <span class="block m-3">63 Green Lane, Windsor, SL4 3QD</span>
          <span class="block">Registered in England and Wales</span>
          <span class="block">Company Number: 14872740</span>
        </p>
      </div>

      <%= render partial: 'shared/mailerlite' %>
    </div>
    <p class="text-center">Copyright <%= Time.current.year %> SCB Executive Coaching Ltd. All rights reserved.</p>
  </div>
</section>