<div id="mlb2-17562934" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-17562934">
  <div class="ml-form-align-center">
	<div class="ml-form-embedWrapper embedForm">

	  <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">

		<div class="ml-form-embedContent" style="">

		  <h3 class="text-3xl font-poppins font-bold mb-3">Newsletter</h3>
		  <p class="mb-3">Signup for your free '10 Steps to Defeat Procrastination' workbook, plus news and special offers!</p>

		</div>

		<form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/1023640/forms/130936500198049150/subscribe" data-code="" method="post" target="_blank">
		  <div class="ml-form-formContent">

			<div class="ml-form-fieldRow ">
			  <div class="ml-field-group ml-field-name ml-validate-required">

				<!-- input -->
				<input aria-label="name" aria-required="true" type="text" class="rounded-lg mb-3 w-full text-scb-black" data-inputmask="" name="fields[name]" placeholder="First name" autocomplete="given-name">

			  </div>
			</div><div class="ml-form-fieldRow ">
			<div class="ml-field-group ml-field-last_name ml-validate-required">

			  <!-- input -->
			  <input aria-label="last_name" aria-required="true" type="text" class="rounded-lg mb-3 w-full text-scb-black" data-inputmask="" name="fields[last_name]" placeholder="Last name" autocomplete="family-name">
			  <!-- /input -->

			</div>
		  </div>

			<div class="ml-form-fieldRow ml-last-item">
				<div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
				  <input aria-label="email" aria-required="true" type="email" class="rounded-lg mb-3 w-full text-scb-black" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
				</div>
			</div>

		  </div>

		  <input type="hidden" name="ml-submit" value="1">

		  <div class="ml-form-embedSubmit">

			<button type="submit" class="button bg-scb-green text-white rounded-lg p-3 w-full">Subscribe</button>

			<button disabled="disabled" style="display: none;" type="button" class="loading">
			  <div class="ml-form-embedSubmitLoad"></div>
			  <span class="sr-only">Loading...</span>
			</button>
		  </div>


		  <input type="hidden" name="anticsrf" value="true">
		</form>
	  </div>

	  <div class="ml-form-successBody row-success" style="display: none">

		<div class="ml-form-successContent">

		  <h4>Thank you!</h4>

		  <p>You have successfully joined our subscriber list.</p>


		</div>

	  </div>
	</div>
  </div>
</div>





<script>
  function ml_webform_success_17562934() {
    var $ = ml_jQuery || jQuery;
    $('.ml-subscribe-form-17562934 .row-success').show();
    $('.ml-subscribe-form-17562934 .row-form').hide();
  }
</script>


<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
<script>
  fetch("https://assets.mailerlite.com/jsonp/1023640/forms/130936500198049150/takel")
</script>