<div class="space-y-1 py-6">
  <% @menu_sections.order(:position).each do |section| %>
	<!-- If the item is a homepage section -->
	<% if section.show_on_home %>
	  <a href="<%= "#{root_path}##{section.name.downcase}" %>"
		 class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950">
		<%= section.name %>
	  </a>
	<% elsif section.custom_link.present? %>
	  <!-- If the item is a standalone page with a custom link -->
	  <a href="<%= section.custom_link %>"
		 class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950">
		<%= section.name %>
	  </a>
	<% end %>
  <% end %>
</div>
