<section id="contact" class="bg-scb-black text-scb-white relative">
  <div class="container mx-auto p-3">
    <div class="flex flex-col items-center text-center py-16">
      <h2 class="text-4xl font-poppins font-light mb-5">Contact Us</h2>
      <p class="mb-5">Contact our team for questions or information</p>

      <a href="#header" class="absolute right-2 bottom-2"><button class="bg-scb-gray text-scb-black rounded-full  p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
        </svg>
      </button>
      </a>

      <a href="mailto:stuart@scbcoaching.co.uk" class="mb-5">stuart@scbexecutivecoaching.com</a>

      <p class="mb-5">07724 353503</p>

      <p>Contact Form (coming soon)</p>
    </div>
  </div>
</section>