<div id="reviews" class="bg-scb-blue">
  <div class="container mx-auto p-3">
    <div class="flex flex-col items-center justify-center py-16 text-scb-white">
      <h2 class="text-3xl font-poppins font-light mb-5">Customer Reviews</h2>
      <p class="mb-5">"Thank you for your inspiring, relieving, insightful and energizing sessions! You opened up valuable new perspectives on my current situation. It is amazing, but just in a few 30 min sessions, I was able to view my situation from a completely new angle, and suddenly see the road to my ultimate dream."</p>

      <p class="mb-5">Executive at Credit Suisse</p>

      <p class="mb-5">"Stuart is a very personable and empathetic coach, he gives you the space needed for thinking and self reflection. He also provides you with thought provoking questions and valuable insights that enable you to continue to move forwards. I have thoroughly enjoyed working with Stuart."</p>

      <p class="mb-5">Maria Pata, Business Owner</p>

      <p class="mb-5">"It was an absolute pleasure having Stuart as my coach. Over six 90-minute sessions, we made life changing progress on overcoming lifelong habits, and moving forward with a new kind of thinking and outlook. I’d recommend Stuart to anyone looking to make that extra step forward in life."</p>

      <p>Corporate clent</p>
    </div>
  </div>
</div>