<section id="reviews" class="bg-scb-blue relative">
  <div class="container mx-auto p-3">
    <div class="flex flex-col items-center justify-center py-16 text-scb-white">
      <h2 class="text-3xl font-poppins font-light mb-5">Customer Reviews</h2>


      <div data-controller="carousel" style="height:260px; width: 100%; overflow:hidden" class="container w-25 my-5 flex justify-between align-center">

        <button data-action="click->carousel#previousSlide">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </button>

        <div class="slide absolute w-2/3  inset-x-0 my-auto mx-auto"  data-carousel-target="slide">
          <div class="h-64 grid place-items-center bg-scb-blue">
            <p class="mb-5 mx-auto text-center">"Thank you for your inspiring, relieving, insightful and energizing sessions! You opened up
              valuable new perspectives on my current situation. It is amazing, but just in a few 30 min sessions, I was
              able to view my situation from a completely new angle, and suddenly see the road to my ultimate
              dream."</p>
            <p class="mb-5">Executive at Credit Suisse</p>
          </div>
        </div>

        <div class="slide absolute w-2/3 inset-x-0 my-auto mx-auto"  data-carousel-target="slide">
          <div class="h-64 grid place-items-center bg-scb-blue">
            <p class="mb-5 mx-auto">"Stuart is a very personable and empathetic coach, he gives you the space needed for
              thinking and self reflection. He also provides you with thought provoking questions and valuable insights
              that enable you to continue to move forwards. I have thoroughly enjoyed working with Stuart."</p>
            <p class="mb-5">Maria Pata, Business Owner</p>
          </div>
        </div>

        <div class="slide absolute w-2/3  inset-x-0 my-auto mx-auto"  data-carousel-target="slide">
          <div class="h-64 grid place-items-center bg-scb-blue">
            <p class="mb-5 mx-auto">"It was an absolute pleasure having Stuart as my coach. Over six 90-minute sessions, we made
              life changing progress on overcoming lifelong habits, and moving forward with a new kind of thinking and
              outlook. I’d recommend Stuart to anyone looking to make that extra step forward in life."</p>
            <p>Corporate Client</p>
          </div>
        </div>

        <button data-action="click->carousel#nextSlide">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
        </button>
      </div>
    </div>

  </div>
  </div>
</section>