<section id="story">
  <div class="container mx-auto p-3">
    <div class="flex flex-col items-center justify-center py-16">
      <h2 class="text-3xl font-poppins font-light mb-5">Our Story</h2>
      <p class="mb-5">SCB Executive Coaching was founded by Stuart Boorman (pictured).</p>

      <p class="mb-5">"I had coaching in the past when I was working as a Diageo Sales Executive. It really helped me to manage my stress
        levels and to boost my work performance. I became the top-selling salesperson in the South London Team that
        quarter.</p>

      <p class="mb-5">I decided that I wanted to teach this unique understanding of tackling stress to others, to help executives succeed
        in a similar way."</p>

      <img class="h-auto w-2/3 rounded-2xl" src="<%= image_path('profile-pic') %>" alt="office lady">
    </div>
  </div>
</section>