<% content_for :meta_title, "Executive Life Coaching" %>
<% content_for :meta_description, "Pricing for SCB Executive Coaching" %>

<div>
	<div id="sections_list">
    	<%= render partial: 'home/sections', locals: { sections: @sections } %>
	</div>

<!--  <%#= turbo_frame_tag "reviews" do %>
    <%#= render partial: 'home/reviews',  locals: { reviews: @reviews} %>
  <%# end %>-->

  <%= render partial: 'home/contact' %>
</div>