<% content_for :meta_title, "Executive Life Coaching" %>
<% content_for :meta_description, "Pricing for SCB Executive Coaching" %>

<div>
	<div id="sections_list">
    	<%= render partial: 'home/sections', locals: { sections: @sections } %>
	</div>

  <%= render partial: 'home/contact' %>
</div>