<% content_for :meta_title, "Executive Life Coaching" %>
<% content_for :meta_description, "Pricing for SCB Executive Coaching" %>

<div>
  <%= turbo_frame_tag "sections" do %>
    <%= render partial: 'home/sections', locals: { sections: @sections } %>
  <% end %>

<!--  <%#= turbo_frame_tag "reviews" do %>
    <%#= render partial: 'home/reviews',  locals: { reviews: @reviews} %>
  <%# end %>-->

  <%= render partial: 'home/contact' %>
</div>