<% content_for :meta_title, "SCB Executive Life Coaching" %>
<% content_for :meta_description, "SCB Executive Coaching" %>

<div>
	<div id="sections_list">
    	<%= render partial: 'home/sections', locals: { sections: @home_sections } %>
	</div>
</div>
