<div id="<%= dom_id section %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= section.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= section.body %>
  </p>

</div>
