<div id="<%= dom_id story %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= story.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= story.body %>
  </p>

</div>
