<div class="p-6 mx-auto md:w-2/3 max-w-7xl">
  <h1 class="font-bold text-4xl mt-3">Edit Resource</h1>

  <%= render "form", resource: @resource, resource_categories: @resource_categories %>

  <%#= link_to "Read this Article", @blog, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to Resources", resource_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
