/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.mailerlite.com/css?family=Roboto:400,400i,700,700i|Merriweather:400,900i,900,700i,700,300,300i,400i|Lato:400,400i,700,700i|Montserrat:400,400i,700,700i|Montserrat+Alternates:400,400i,700,700i|Open+Sans:400,400i,700,700i|PT+Sans:400,400i,700,700i|Source+Sans+Pro:400,400i,700,700i|Roboto+Slab:400,700|Ubuntu:400,400i,700,700i|Titillium+Web:400,400i,700,700i|Nunito:400,400i,700,700i|Cabin:400,400i,700,700i|Oswald:400,700|Work+Sans:400,700|Exo:400,400i,700,700i|Comfortaa:400,700|Raleway:400,400i,700,700i|Oxygen:400,700|Poppins:400,400i,700,700i|Playfair+Display:400,400i,700,700i|Shadows+Into+Light+Two|PT+Serif:400,400italic,700,700italic|Josefin+Slab:400,400italic,700,700italic|Arvo:400,700,700italic,400italic|Vollkorn:400,400italic,700,700italic|Karla:400,400italic,700,700italic|Noto+Sans:400,400italic,700,700italic|Barlow+Condensed:400,400italic,700,700italic|Anton|Inter:400,700|Abril+Fatface|Yeseva+One|Poiret+One|Marck+Script|Pacifico|Fira+Sans|Rubik&subset=cyrillic,cyrillic-ext,latin-ext);
@import url('mailierlite.css');



body:has(dialog[data-dialog-target='dialog'][open]) {
    overflow: hidden;
}

/* Customize the dialog backdrop */
dialog {
    box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Add animations */
dialog[data-dialog-target='dialog'][open] {
    animation: fade-in 200ms forwards;
}

dialog[data-dialog-target='dialog'][closing] {
    animation: fade-out 200ms forwards;
}
