#policy_content, #sections_list{
    p, h1, h2, h3, h4, h5, h6{
        margin-bottom: 10px;
    }
    a:not(.button){
        color: #5893D4;
        text-decoration: underline;
    }

    img{
        max-width: 100%;
        border-radius: 5px;
    }
}