<div id="<%= dom_id intro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= intro.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= intro.body %>
  </p>

</div>
