<div id="<%= dom_id review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= review.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= review.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <span class="text-scb-white"><%= review.author %></span>
  </p>

</div>
