<h1 class="font-poppins font-bold text-4xl" >Policies</h1>
<%= link_to 'New Policy', new_policy_path, class: 'btn btn-primary' %>
<ul>
  <% @policies.each do |policy| %>
	<li>
	  <%= link_to policy.title, policy_path(policy) %>
	  | <%= link_to 'Edit', edit_policy_path(policy) %>
	  | <%= link_to 'Delete', policy_path(policy), method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
  <% end %>
</ul>